* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    background: #fff;
    color: #2c2c2c;
    font-size: 15px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    position: relative;
}

a {
    text-decoration: none;
    color: #303440;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    color: #6b6b6b;
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.25s;
}

.fade-enter-active {
    transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

h1 {
    color: #303440;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    color: #303440;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    color: #303440;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
    border: 1px solid #303440 !important;
    padding: 0 10px !important;
    height: 40px !important;
    border-radius: 0 !important;
    width: 100%;
    outline: none;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

textarea {
    height: 160px !important;
    padding: 10px !important;
}

input::-webkit-input-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

input::-moz-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

input:-moz-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

input:-ms-input-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

textarea::-webkit-input-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

textarea::-moz-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

textarea:-moz-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

textarea:-ms-input-placeholder {
    color: #939393;
    font-size: 14px;
    transition: 0.3s;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

input:focus:-moz-placeholder {
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
}

textarea:focus:-moz-placeholder {
    opacity: 0;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
}

input:disabled,
textarea:disabled,
select:disabled {
    background-color: #dfdfdf;
}

input.invalid,
textarea.invalid,
select.invalid {
    border: 1px solid #ff0000 !important;
}

input[type="submit"],
input[type="button"],
a.btn {
    width: 100%;
    font-size: 15px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    text-transform: none;
    color: #fff;
    text-decoration: none;
    background: #303440;
    display: inline-block;
    border: 1px solid #303440;
    font-family: 'Noto Serif', serif;
    height: 40px;
    margin: 0 auto;
    padding: 0 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
}

.btn.btn-right {
    float: right;
    width: auto;
}

input[type="submit"]:hover,
input[type="button"]:hover,
a.btn:hover {
    background: #fff;
    color: #303440;
}

input[type=submit],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    background: #efefef;
    height: 100%;
    padding: 0 40px 0 14px;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 0;
    font-size: 14px !important;
    color: #000;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
}

.wrap {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.wrap:after {
    content: '';
    display: table;
    clear: both;
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.row-stretch {
    align-items: stretch;
}

.row-wrap {
    flex-wrap: wrap;
}

.row-space {
    justify-content: space-between;
}

.col {
    width: 100%;
    flex-shrink: 0;
}

.col.col-2 {
    width: 50%;
}

.col.col-3 {
    width: 33.33%;
}

.col.col-4 {
    width: 25%;
}

.header {

}

.top-panel {
    padding: 10px;
}

.top-panel .logo {
    width: 250px;
    flex-shrink: 0;
}

.top-panel .logo a {
    font-size: 0;
    line-height: 0;
    display: block;
}

.top-panel .logo img {
    display: block;
}

.top-panel .contacts {
    margin-left: auto;
    text-align: right;
}

.top-panel .contacts .phone {
    font-size: 22px;
    margin-bottom: 5px;
}

.top-panel .contacts .email {
    font-weight: 700;
    margin-bottom: 5px;
}

.top-panel .contacts .links {

}

.top-panel .contacts .links a + a {
    margin-left: 20px;
}

.menu-panel {
    background-color: #303440;
    position: relative;
}

.menu-panel .mobile-toggle-button {
    display: none;
    align-items: center;
}

.menu-panel .mobile-toggle-button .email a {
    margin-left: 10px;
    color: #fff;
}

.menu-panel .mobile-toggle-button .toggle-menu-link {
    flex-shrink: 0;
    margin-left: auto;
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}

.menu-panel .main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.menu-panel .main-menu li {
    padding: 0;
    margin: 0;
}

.menu-panel .main-menu li + li {

}

.menu-panel .main-menu a {
    color: #fff;
    line-height: 50px;
    position: relative;
    display: inline-block;
}

.menu-panel .main-menu a::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    background: #fff;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu-panel .main-menu li.exact-active a::after,
.menu-panel .main-menu a:hover::after {
    height: 3px;
}

.footer {
    padding: 40px 0;
    background-color: #303440;
}

.footer .row {
    align-items: flex-start;
}

.footer .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-menu li {

}

.footer .footer-menu li + li {
    margin-top: 5px;
}

.footer .footer-menu a {
    color: #fff;
}

.footer .footer-menu li.exact-active a,
.footer .footer-menu a:hover {
    border-bottom: 1px dashed #fff;
}

.footer .copyright {
    font-size: 12px;
    color: #fff;
    text-align: right;
}

.social-links {
    position: fixed;
    left: 35px;
    bottom: 35px;
    width: 30px;
    z-index: 5;
}

.social-links .social-icon {
    margin-top: 5px;
}

.social-links a {
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 2px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.goto-up-block {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: 30px;
    z-index: 5;
}

.goto-up-block a {
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 2px;
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.content-block {
    padding: 40px 0;
}

.content-block .links a + a {
    margin-left: 20px;
}

.slogan-block {

}

.slogan-block .slogan-image {
    padding-right: 40px;
}

.slogan-block .slogan-text {
    padding: 80px 0 80px 40px;
    text-align: center;
}

.slogan-block .slogan-text .main-head {
    font-size: 40px;
    margin-bottom: 40px;
}

.slogan-block .slogan-text h3 {
    margin-bottom: 40px;
}

.diplomas-block {
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bg-information.jpg');
    position: relative;
}

.diplomas-block:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.diplomas-block .diplomas-block-inner {
    position: relative;
    z-index: 3;
}

.diplomas-block h2 {
    color: #fff;
}

.diplomas-block .col {
    padding: 0 20px;
}

.diplomas-block a {
    display: block;
    font-size: 0;
    line-height: 0;
}

.diplomas-block a:hover {
    transform: scale(1.05);
}

.individual-block,
.entity-block {
    background-color: #fff;
}

.individual-block .text-container {
    padding: 40px 80px 40px 0;
}

.entity-block .text-container {
    padding: 40px 0 40px 80px;
    text-align: right;
}

.individual-block .background-block,
.entity-block .background-block {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.individual-block .background-block::after,
.entity-block .background-block::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.individual-block .background-block-inner,
.entity-block .background-block-inner {
    z-index: 3;
    color: #fff;
    position: absolute;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    text-align: center;
    padding: 40px 20px;
    line-height: 30px;
}

.individual-block .background-block {
    background-image: url('../images/bg-individual.jpg');
}

.entity-block .background-block {
    background-image: url('../images/bg-entity.jpg');
}

.individual-block .item,
.entity-block .item {
    background-color: #303440;
    height: 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.individual-block .col:nth-child(even) .item,
.entity-block .col:nth-child(even) .item {
    background-color: #000;
}

.individual-block .item .item-image,
.entity-block .item .item-image {
    width: 50px;
    height: 50px;
    margin: 0 auto 30px;
    font-size: 50px;
    color: #bf996d;
}

.individual-block .item .item-title,
.entity-block .item .item-title {
    color: #fff;
    font-size: 16px;
}

.information-block {
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    background-image: url('../images/bg-information.jpg');
    position: relative;
}

.information-block:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.information-block .information-block-inner {
    position: relative;
    z-index: 3;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    text-align: center;
    padding: 40px;
    line-height: 30px;
}

.information-block h2 {
    color: #fff;
}

.feedback-block {
    position: relative;
}

.feedback-block .map {
    height: 500px;
    position: relative;
    z-index: 1;
}

.feedback-block .wrap {
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.feedback-block .feedback-container {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -50%);
    width: 400px;
    background-color: #303440;
    color: #fff;
    padding: 20px;
    z-index: 2;
}

.feedback-block .feedback-container a {
    color: #dfdfdf;
}

.feedback-block .feedback-container a:hover {
    color: #fff;
}

.feedback-block .contacts {
    margin-bottom: 10px;
}

.feedback-block input[type="submit"] {
    border: 1px solid #fff !important;
}

.form-description {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.field {
    position: relative;
    width: 100%;
}

.field + .field {
    margin-top: 20px;
}

.field label {
    font-weight: 700;
    margin-bottom: 10px;
    display: block;
}

.field-checkbox input {
    display: none;
}

.field-checkbox span {
    padding-left: 25px;
}

.field-checkbox input[type="checkbox"] + span:before {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #4b4b52;
    font-family: FontAwesome, serif;
    background-color: #fff !important;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.field-checkbox input[type="checkbox"]:checked + span:before {
    content: '\f00c';
}

.field-image-uploader a {
    font-size: 0;
    line-height: 0;
    width: 160px;
    display: block;
    border: 1px solid #303440;
}

.field-image-uploader a:hover {
    border: 1px solid #cd9a6b;
}

.field-image-uploader img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

form .field {
    margin-bottom: 20px;
}

form .col.col-2 {
    width: 49%;
}

.errors {
    padding: 5px;
    border: 1px solid #ff0000;
    text-align: center;
    color: #ff0000;
    margin-bottom: 20px;
}

.helper-text {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-size: 11px;
}

.helper-text.success {
    color: #00ff00;
}

.helper-text.invalid {
    color: #ff0000;
}

.user-information + .user-information {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #303440;
}

.user-information .user-information-list {
    column-count: 2;
}

.user-information .param {
    line-height: 40px;
}

.user-information .param .param-label {
    font-size: 14px;
    font-style: italic;
    color: #8a8a8a;
    margin-right: 10px;
    display: inline-block;
    width: 130px;
}

h3 span {
    display: inline-block;
    vertical-align: middle;
}

h3 .link-small {
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.list-items {

}

.list-question .item + .item {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #303440;
}

.question-item-answer {
    white-space: pre-wrap;
}

.list-property .item {
    width: 24%;
    flex-shrink: 0;
    border: 1px solid #303440;
    position: relative;
    margin-bottom: 40px;
    margin-right: 1.33333%;
}

.list-property .item:nth-child(4n) {
    margin-right: 0;
}

.list-property .item .property-actions {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 2;
}

.list-property .item .property-actions a {
    margin-right: 10px;
}

.list-property .item .item-image {
    width: 100%;
    height: 280px;
}

.list-property .item .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-property .item .item-title {
    text-align: center;
    font-weight: 700;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
}

.list-property .item .item-cost {
    background-color: #bf996d;
    color: #fff;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.property-image img {
    width: 100%;
}

.property-information {
    padding-left: 40px;
}

.property-information .advanced {
    margin-bottom: 40px;
    font-style: italic;
}

.property-information .cost {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
}

.property-information .cost span {
    font-size: 16px;
}

.property-information .buttons .btn {
    display: inline-block;
    width: auto;
    margin: 0 20px 20px 0;
}

.property-description {
    margin-top: 40px;
}

.city-list {
    column-count: 4;
}

.city-list .item {
    margin-bottom: 10px;
}

#nprogress .bar {
    background: #303440;
}